<ol>
<h1>stupid coaching</h1>

  <p id=treeview class=treeview>
  <%= @question %><br>
  -You
  </p>

  <p id=treeview_fill class=treeview_fill>
  <%= @answer %><br>
  -Your coach
  </p>

  <a href = "/ask"> ask a new question </a>
</ol>
